* {
  font-family: arial, sans-serif;
  color: #545454;
}

html,
body {
  margin: 0;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper.index-page {
  justify-content: center;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section .search-container {
  margin-top: 20px;
  width: 100%;
}

.main-section .search-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container .search-button {
  color: #757575;
  background-color: #f5f5f5;
  border: none;
  height: 36px;
  width: 125px;
  border-radius: 1px;
  font-size: 13px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  outline: none;
}

.main-section .search-container .search-box {
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  outline: none;
  height: 44px;
  border-radius: 2px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  width: 70%;
  max-width: 630px;
  color: #000;
}

.main-section .logo-container {
  width: 220px;
  text-align: center;
}

.logo-container img {
  width: 100%;
}

.header {
  background-color: #fafafa;
  border-bottom: 1px solid #ebebeb;
}

.wrapper .header-content {
  display: flex;
  align-items: center;
}

.header-content .logo-container {
  width: 150px;
  padding: 5px 20px;
  box-sizing: border-box;
}

.header-content .search-container {
  flex: 1;
}

.header-content .search-container form { 
  margin: 15px 0 28px 0;
}

.header-content .search-bar-container {
  height: 44px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  width: 70%;
  max-width: 630px;
  box-sizing: border-box;
  display: flex;
}

.header-content .search-bar-container .search-box {
  flex: 1;
  border: none;
  background-color: transparent;
  padding: 12px;
  font-size: 16px;
  outline: none;
  color: #000;
}

.search-box button {
  border: none;
}
